body {
    font-family: Arial, sans-serif;
    background: lightblue;
    text-align: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 56px;
    font-family: 'Courier New', Courier, monospace;
} 

#search-form {
    display: flex;
    align-content: space-evenly;

}
input[type="text"] {
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px; 
    font-size: 16px;
}
input::placeholder {
    color: #888;
    font-style: italic;
}

button[type="submit"] {
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 6px;
}

button[type="submit"]:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(47, 39, 39);
}

.container {
    display: grid;
    grid-template-columns: 25px, 1fr;
    grid-template-rows:50px 1fr;
    width: 600px;
    height: 260px;
    background-color: rgb(207, 220, 232);
    border-radius: 10px;
    margin-top: 10px;
}

.card-header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 26px;
    padding-right: 26px;
    border-bottom: solid black 1px;
}

.card-left {
    grid-row-start: 2;
    grid-row-end: 6;
    padding-top: 25px;
    border-right: solid black 1px;
}

.card-right {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    grid-row-start: 2;
    grid-row-end: -1;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: solid black 1px;
    padding-left: 26px;
    padding-right: 26px;
}